@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Manrope", sans-serif;
}

.container__footer {
  position: relative;
  padding: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__footer__icon {
  width: 75px;
  border-radius: 50%;
}

.container__footer__info {
  margin-right: auto;
  margin-left: 10px;
}

.container__footer__icon__share {
  background: #ecf2f8;
  padding: .5rem;
  border-radius: 50%;
  color: #48556a;
  position: relative;
  z-index: 2;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.container__footer__icon__share::after {
  content: '';
  position: absolute;
  background: #48556a;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  z-index: -1;
}

.container__footer__icon__share:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container__footer__icon__share:hover {
  color: white;
}

.container__footer__icon__share.active {
  color: white;
  background-color: #6d7f97;
}

.container__footer__icon__share.active:hover {
  color: #48556a;
}

.container__footer__icon__share.active::after {
  background: white;
}

@media (min-width: 1000px) {
  .container__footer__icon__share {
    font-size: 1.5rem;
    padding: .75em;
  }
}

.container__footer__black__mobile {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.container__footer__black__mobile__icon {
  margin-right: 3rem;
}

.container__footer__black__mobile.active {
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media (min-width: 1000px) {
  .container__footer__black__mobile {
    display: none;
  }
}

.container__footer__black__desktop {
  width: 350px;
  right: 0;
  top: 0;
  padding: 1em;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  -webkit-transform: translate(30%, 0%) scale(0);
          transform: translate(30%, 0%) scale(0);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

@media (min-width: 1000px) {
  .container__footer__black__desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container__footer__black__desktop::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 40px solid transparent;
  border-top-color: #48556a;
  bottom: -90%;
  left: 50%;
  -webkit-transform: translateX(-35%);
          transform: translateX(-35%);
}

.container__footer__black__desktop.active {
  -webkit-transform: translate(30%, -100%) scale(1);
          transform: translate(30%, -100%) scale(1);
}

.black-boxes {
  background: #48556a;
  color: white;
  position: absolute;
}

.black-boxes h3 {
  letter-spacing: .25rem;
}

.black-boxes i {
  padding: .5rem;
  font-size: 1.25rem;
  cursor: pointer;
}

body {
  background-color: #ecf2f8;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 350px;
  background-color: white;
  margin: 1.5rem;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

@media (min-width: 1000px) {
  .container {
    width: 70%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
  }
}

.container__image {
  width: 100%;
  height: 200px;
  background: url("../images/drawers.jpg") no-repeat center;
  background-size: cover;
}

@media (min-width: 1000px) {
  .container__image {
    width: 60%;
    height: auto;
    border-radius: 20px 0 0 20px;
  }
}

.container .container__content {
  padding: 1.3rem;
}

.container .container__content__title, .container .container__content__body {
  margin-top: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem;
}

.container .container__content__title {
  color: #48556a;
}

@media (min-width: 1000px) {
  .container .container__content__title {
    line-height: 3rem;
    font-size: 1.5rem;
  }
}

.container .container__content__body {
  font-size: 13px;
  color: #6d7f97;
}

@media (min-width: 1000px) {
  .container .container__content__body {
    line-height: 2.5rem;
    font-size: 14.3px;
  }
}
/*# sourceMappingURL=main.css.map */