@import './config';

.container__footer{
    position: relative;
    padding: $pd;
    @include flexCenter(row, space-around);
    &__icon{
        width: 75px;
        border-radius: 50%;
    }
    &__info{
        margin-right: auto;
        margin-left: 10px;
    }

    &__icon__share{
        background: $light-grayish-blue;
        padding: .5rem;
        border-radius: 50%;
        color: $very-dark-grayish-blue;
        position: relative;
        z-index: 2;
        transition: all 200ms ease-in-out;
        cursor: pointer;
        &::after{
            content: '';
            position: absolute;
            background:  $very-dark-grayish-blue;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 50%;
            transform: scale(0);
            transition: all 200ms ease-in-out;
            z-index: -1;
        }
        &:hover::after{
            transform: scale(1);
        }

        &:hover{
            color: white;
        }

        &.active{
            color: white;
            background-color: $dark-blue;
        }

        &.active:hover{
            color: $very-dark-grayish-blue;
        }

        &.active::after{
            background: white;
        }

        @include desktop{
            font-size: 1.5rem;
            padding: .75em;
        }
    }



    &__black__mobile{
        width: 100%;
        height: 100%;
        @include flexCenter(row, space-around);
        &__icon{
            margin-right: 3rem;
        }
        // Transition
        transform: translateX(-100%);
        transition: transform 300ms ease-in-out;
        &.active{
            transform: translate(0);
        }

        @include desktop{
            display: none;
        }
    }  
    &__black__desktop{
        width: 350px;
        right: 0;
        top: 0;
        padding: 1em;
        border-radius: 50px;

        @include flexCenter(row, space-around);
        display: none;

        @include desktop{
            display: flex;
        }
            // Triangle
        &::after{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 40px solid transparent;
            border-top-color: $very-dark-grayish-blue;
            bottom: -90%;
            left: 50%;
            transform: translateX(-35%);
        }
        // Animation
        transform: translate(30%, 0%) scale(0);
        transition: transform 300ms ease-in-out;
        transform-origin: center bottom;
        &.active{
            transform: translate(30%, -100%) scale(1) ;
            
        }
    }
}

.black-boxes{
    background: $very-dark-grayish-blue;
    color: white;
    position: absolute;
    h3{
        letter-spacing: .25rem;
    }
    i{
        padding: .5rem;
        font-size: 1.25rem;
        cursor: pointer;
    }
}